.container{
    max-width: 1120px;
    margin: 0 auto;
    padding: 0 2rem;

    display: flex;
    flex-direction: column;
    align-items: center;

    button{
        display: none;
    }
    .title{
        padding: 0 2rem;
        text-align: center;
        font-size: 2.3rem;    
        h1 + h1 {
            text-shadow: -1px -1px 0 var(--button), 1px -1px 0 var(--button), -1px 1px 0 var(--button), 1px 1px 0 var(--button);
            color:var(--background);
        }

        .description_mobile{
            display: none;
        }
    }



    .blur{
        width: 200px;
        height: 200px;
        display: block;
        background-color:#996DFF;
        
        filter: blur(150px);
        position: absolute;

        &.right{
            top: 0;
            right: 0;
        }

        &.left{
            bottom: 0;
            left: 0;
        }
    }


}


@media screen and (max-width: 768px){
   .container{
       display: flex;
       height: calc(100vh - 6rem);
       align-items: initial;
       justify-content: space-evenly;
       .title{
           padding: 0rem;
           font-size: 1rem;    

        .content_description{

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            
            button{
                display: initial;
                margin: 45px 0 50px;
            }

            .description_mobile{
                display: initial;
                font-size: 1.65rem;
            }

        }
        
       }

       .blur{
            &.right{
                visibility: hidden;
            }
            &.left{
                left: 50%;
                transform: translateX(-50%);
            }
       }
       
   }
}